<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^ ../public/index.php [L,R=301]
</IfModule>

# Deny access to this directory
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
    Order deny,allow
    Deny from all
</IfModule>
